<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Generator</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/resume_styles.css">
    <style>
        /* Additional styles for the modal */
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            padding-top: 100px; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
        }

        .modal-content {
            background-color: white;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-footer {
            display: flex;
            justify-content: space-between;
        }

        .modal-footer .btn {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .modal-footer .confirm {
            background-color: #35424a;
            color: white;
        }

        .modal-footer .confirm:hover {
            background-color: #5ab1f5;
        }

        .modal-footer .cancel {
            background-color: #e74c3c;
            color: white;
        }

        .modal-footer .cancel:hover {
            background-color: #c0392b;
        }
    </style>
    <script>
        function showSpinner() {
            document.getElementById('spinner').style.display = 'block';
            document.getElementById('resume-form').style.display = 'none';
        }

        function addCertificate() {
            const container = document.getElementById("certificates-container");
            const certificateDiv = document.createElement("div");
            certificateDiv.innerHTML = `
                <input type="text" name="certificate_name[]" placeholder="Certificate Name" required><br>
                <input type="text" name="issuing_organization[]" placeholder="Issuing Organization" required><br>
                <input type="date" name="issue_date[]" placeholder="Issue Date" required><br>
                <input type="date" name="expiration_date[]" placeholder="Expiration Date" required><br>
            `;
            container.appendChild(certificateDiv);
        }

        function addEducation() {
            const container = document.getElementById("education-container");
            const educationDiv = document.createElement("div");
            educationDiv.innerHTML = `
                <input type="text" name="degree[]" placeholder="Degree" required><br>
                <input type="text" name="institution[]" placeholder="Institution" required><br>
                <input type="date" name="startDate[]" placeholder="Start Date" required><br>
                <input type="date" name="endDate[]" placeholder="End Date" required><br>
            `;
            container.appendChild(educationDiv);
        }

        function addExperience() {
            const container = document.getElementById("experience-container");
            const experienceDiv = document.createElement("div");
            experienceDiv.innerHTML = `
                <input type="text" name="company_name[]" placeholder="Company Name" required><br>
                <input type="text" name="role[]" placeholder="Role" required><br>
                <input type="date" name="experience_start_date[]" placeholder="Experience Start Date" required><br>
                <input type="date" name="experience_end_date[]" placeholder="Experience End Date" required><br>
                <textarea name="description[]" placeholder="Experience Description" required></textarea><br>
            `;
            container.appendChild(experienceDiv);
        }

        function addProject() {
            const container = document.getElementById("projects-container");
            const projectDiv = document.createElement("div");
            projectDiv.innerHTML = `
                <input type="text" name="project_name[]" placeholder="Project Name" required><br>
                <input type="url" name="github_link[]" placeholder="GitHub Link" required><br>
            `;
            container.appendChild(projectDiv);
        }

        function confirmGenerate() {
            const modal = document.getElementById("confirmModal");
            modal.style.display = "block";
        }

        function closeModal() {
            const modal = document.getElementById("confirmModal");
            modal.style.display = "none";
        }

        function submitForm() {
            document.getElementById("resume-form").submit();
        }
    </script>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Resume Generator</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h2>Resume Input Form</h2>
    <div id="resume-form">
        <form action="/generate_resume" method="post" onsubmit="confirmGenerate(); showSpinner(); return false;">
            <section>
                <h3>Personal Information <span class="required-indicator">*</span></h3>
                <input type="text" name="firstName" placeholder="First Name" value="<%= user.firstName %>" required readonly><br>
                <input type="text" name="lastName" placeholder="Last Name" value="<%= user.lastName %>" required readonly><br>
                <input type="email" name="email" placeholder="Email" value="<%= user.email %>" required readonly><br>
                <input type="text" name="phone" placeholder="Phone" value="<%= user.phone %>" required readonly><br>
            </section>

            <section>
                <h3>Education <span class="required-indicator">*</span></h3>
                <div id="education-container">
                    <div>
                        <input type="text" name="degree[]" placeholder="Degree" required><br>
                        <input type="text" name="institution[]" placeholder="Institution" required><br>
                        <input type="date" name="startDate[]" placeholder="Start Date" required><br>
                        <input type="date" name="endDate[]" placeholder="End Date" required><br>
                    </div>
                </div>
                <button type="button" onclick="addEducation()">Add Another Education</button><br><br>
            </section>

            <section>
                <h3>LinkedIn <span class="required-indicator">*</span></h3>
                <input type="text" name="linkedUrl" placeholder="LinkedIn URL"><br>
            </section>

            <section>
                <h3>Projects <span class="required-indicator">*</span></h3>
                <div id="projects-container">
                    <div>
                        <input type="text" name="project_name[]" placeholder="Project Name" required><br>
                        <input type="url" name="github_link[]" placeholder="GitHub Link" required><br>
                    </div>
                </div>
                <button type="button" onclick="addProject()">Add Another Project</button><br><br>
            </section>

            <section>
                <h3>Experience <span class="required-indicator">*</span></h3>
                <div id="experience-container">
                    <div>
                        <input type="text" name="company_name[]" placeholder="Company Name" required><br>
                        <input type="text" name="role[]" placeholder="Role" required><br>
                        <input type="date" name="experience_start_date[]" placeholder="Experience Start Date" required><br>
                        <input type="date" name="experience_end_date[]" placeholder="Experience End Date" required><br>
                        <textarea name="description[]" placeholder="Experience Description" required></textarea><br>
                    </div>
                </div>
                <button type="button" onclick="addExperience()">Add Another Experience</button><br><br>
            </section>

            <section>
                <h3>Skills <span class="required-indicator">*</span></h3>
                <input type="text" name="skills" placeholder="Skills (format: skill:proficiency_level, ...)" required><br>
            </section>

            <section>
                <h3>Job Description <span class="required-indicator">*</span></h3>
                <textarea name="jobDescription" placeholder="Job Description" required></textarea><br>
            </section>

            <section>
                <h3>Certificates <span class="required-indicator">*</span></h3>
                <div id="certificates-container">
                    <div>
                        <input type="text" name="certificate_name[]" placeholder="Certificate Name" required><br>
                        <input type="text" name="issuing_organization[]" placeholder="Issuing Organization" required><br>
                        <input type="date" name="issue_date[]" placeholder="Issue Date" required><br>
                        <input type="date" name="expiration_date[]" placeholder="Expiration Date" required><br>
                    </div>
                </div>
                <button type="button" onclick="addCertificate()">Add Another Certificate</button><br><br>
            </section>
            
            <input type="submit" value="Generate Resume">
        </form>
    </div>
    <div id="spinner" class="spinner"></div>
    </div>

    <!-- The Modal -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>Please review the information before proceeding?</p>
            <div class="modal-footer">
                <button class="btn cancel" onclick="closeModal()">Cancel</button>
                <button class="btn confirm" onclick="submitForm()">Confirm</button>
            </div>
        </div>
    </div>
</body>
</html>

