body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.resume-container {
    width: 210mm;
    height: 297mm;
    padding: 20mm;
    box-sizing: border-box;
    background-color: #fff;
    margin: auto;
    border: 1px solid #ddd;
    page-break-after: always;
}

h1 {
    font-size: 24px;
    color: #35424a;
}

h2 {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #35424a;
}

p, ul, li {
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    margin: 5px 0;
}

strong {
    font-family: Arial, sans-serif;
}

.container, .resume-container {
    margin: auto;
    overflow: hidden;
}

.resume-container h2 {
    margin-bottom: 10px;
}

.resume-container p {
    margin: 5px 0;
}

.resume-container ul {
    list-style-type: disc;
    margin: 5px 0 15px 20px;
}

.resume-container li {
    margin: 0;
}
